#hl_info {
  color: white;
}
.hlJumbo {
  background-color: #394032;
}

.hlTitle {
  background-color: #728065;
}

.hlText {
  color: #cde6b5;
}

.hlButton {
  background-color: #cde6b5;
}
.link {
  color: #e4ffc9;
}
